# macOS files
.DS_Store

# Python caches
__pycache__/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# Home Assistant custom integration secrets
custom_components/SmartHomeCopilot/credentials.yaml
